.header-tabela-wrapper {
  width: 95%;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header-tabela-wrapper h2 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.table-container {
  width: 95%;
  margin: 20px auto; /* Espaço após o header */
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
}

/* Ajustes finos na tabela para combinar com o novo estilo */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #2563eb;
  color: white;
}

th,
td {
  padding: 15px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #eee;
  transition: 0.2s;
}

tbody tr:hover {
  background-color: #f1f5ff;
}