* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html {
  overflow-y: scroll; /* garante que o scroll existe */
  scrollbar-width: none; /* Firefox — esconde no html */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Opera */
}

body {
  background: #0F0F10;  
  min-height: 100vh;
}